/* External CSS - Example of overriding */
h1 {
    color: darkgreen; /* External style */
}

/* More external styles can go here */
body {
    background-color: lightyellow;
}

p {
    font-family: 'Courier New', Courier, monospace; /* External style affecting all p elements */
}
